@model СпортКлик.Models.ChangePassword

@using (Html.BeginForm())
{
    <fieldset>
        <legend class="">Вход</legend>
                @Html.ValidationSummary(true)
        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Старый пароль</label>
            <div class="controls">
                @Html.PasswordFor(i => i.Password, new { @class = "input-xlarge" })
                @Html.ValidationMessageFor(i => i.Password, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Пароль</label>
            <div class="controls">
                @Html.PasswordFor(i => i.NewPassword, new { @class = "input-xlarge" })
                @Html.ValidationMessageFor(i => i.NewPassword, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Подтверждение пароля</label>
            <div class="controls">
                @Html.PasswordFor(i => i.NewPasswordAway, new { @class = "input-xlarge" })
                @Html.ValidationMessageFor(i => i.NewPasswordAway, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success" type="submit">Сменить</button>
            </div>
        </div>
    </fieldset>
}
