@using СпортКлик.Areas.Admin
@model Данные.Модели.Товар

<div class="row-fluid">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset class="form-horizontal">
            <legend>Товар-@Model.Имя</legend>
            @Html.AdminTextBox(i => i.Имя)
            @Html.AdminTextArea(i => i.Описание)
            <div class="control-group">
                <label class="control-label">Категория</label>
                <div class="controls">
                    @{ Html.RenderAction(Действия.DropDown,  Контролеры.Категории, new { Ид = Model.КатегорияИд }); }
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Производитель</label>
                <div class="controls">
                    @{ Html.RenderAction(Действия.DropDown, Контролеры.Производители, new { Ид = Model.ПроизводительИд }); }
                </div>
            </div>
            @Html.AdminTextBox(i => i.Цена)
            @Html.AdminTextBox(i => i.Скидка)
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                @Html.ActionLink("Отменить", "Все", null, new { @class = "btn " })
            </div>
        </fieldset>
    }
</div>
<div class="row-fluid">
    @{ Html.RenderPartial("Частичные/ЗагрузитьКартинку", new СпортКлик.Models.ДляПредставленияЗагрузкиКартинки() { АльтернативныйТекст = Model.Имя, Действие = "ЗагрузитьКартинку", Ид = Model.Ид, ИмяФайлаИзображения = Model.ИмяФайлаИзображения, Контроллер = "Товар" }); }
</div>
@section Scripts
{
    <script type="text/javascript">
        CKEDITOR.replace("Описание");
    </script>
}