@using Microsoft.Web.Mvc
@using Данные.Интерфейсы
@model IEnumerable<ИЗображение>
<h4>Все @ViewBag.Title</h4>
<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            <th>Имя
            </th>
            <th>Описание
            </th>
            <th>Действие</th>
            <th></th>
        </tr>
    </thead>
    @foreach (ИЗображение m in Model)
    {
        <tr>
            <td>
                @СпортКлик.Сервис.Константы.Ограничить(m.Имя)
            </td>
            <td>
                @СпортКлик.Сервис.Константы.Ограничить(m.Описание)
            </td>
            <td>
                <div class="btn-group">
                    <div class="btn dropdown-toggle" data-toggle="dropdown">
                        Действие                     
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        @{
                            <li>@Html.ActionLink("Изменить", "Изменить", m.Ид)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Удалить", "Удалить", m.Ид)</li>
                               
                        }
                    </ul>
                </div>
            </td>
            @if (ViewBag.Title == "Категории")
            {  
                <td>@(Html.ActionLink<СпортКлик.Areas.Admin.Controllers.ТоварController>(i => i.ВсеДляКатегории(m.Имя, 1), "Перейти к товарам", new { @class = "btn" }))</td> 
            }
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Создать новый", "Создать", null, new { @class = "btn" })
</p>
