@model Данные.Интерфейсы.ИБазовый

<div class="row-fluid">
    @using (Html.BeginForm())
    {
        <fieldset class="form-horizontal">
            <legend>@Model.Имя</legend>
            <div class="control-group">
                <label class="control-label">Название</label>
                <div class="controls">
                    @Html.TextBoxFor(i=>i.Имя , new { @class = "input-xlarge" })
                    @Html.ValidationMessageFor(i=>i.Имя, null, new { @class = "help-inline" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Описание</label>
                <div class="controls">
                    @Html.TextAreaFor(i=>i.Описание, new { @class = "input-xlarge" })
                    @Html.ValidationMessageFor(i=>i.Описание, null, new { @class = "help-inline" })
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                @Html.ActionLink("Отменить", "Все", null, new { @class = "btn " })
            </div>
        </fieldset>
    }
</div>
@section Scripts
{
    <script type="text/javascript">
        CKEDITOR.replace("Описание");
    </script>
}